<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="CVS Pharmacy Application Test Automation Test Suite">

	<listeners>
		<listener class-name="com.cvs.qa.ExtentReportListener.ExtentReporterNG" />
	</listeners> 


	<test name=" CVS HomePageTest">
		<classes> 		
			<class name="com.cvs.qa.testcases.HomePageTest"/>
		</classes>
	</test>
	
	<test name=" CVS LogInPageTest">
		<classes> 
			<class name="com.cvs.qa.testcases.LogInTest"/>		
		</classes>
	</test>
	
	<test name=" CVS RegistrationPageTest">
		<classes> 
			<class name="com.cvs.qa.testcases.RegistrationTest"/>		
		</classes>
	</test>
	
	
	<test name=" CVS MinuteClinicPageTest">
		<classes> 
			<class name="com.cvs.qa.testcases.MinuteClinicTest"/>		
		</classes>
	</test>
	
	<test name=" CVS PharmacyPageTest">
		<classes> 
			<class name="com.cvs.qa.testcases.PharmacyTest"/>		
		</classes>
	</test>
</suite>